<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="com.eclipsesource.modelserver.coffee.model.coffee.CoffeePackage"
            genModel="model/Coffee.genmodel"
            uri="http://www.eclipsesource.com/coffee/model">
      </package>
   </extension>

</plugin>
